<div class="form-group" *ngIf="mostrarElemento">
  <label for="selectConFiltro">{{to.label}}{{to.required ? ' *' : ''}}</label>
  <br>
  <small class="descripcion">{{descripciones}}</small>
<!--  <div *ngIf="to.subsanacion">
    <div class="mensajeSubsanacion"><p><i class="fa fa-comments" aria-hidden="true"></i> {{to.subsanacion.comentario}}</p></div>
  </div>-->
  <div *ngIf="!isReadOnly()">
    <ng-select class="select-con-filtro" id="selectFormly" aria-describedby="descripcion"
               [formControl]="formControl"
               [formlyAttributes]="field"
               [items]="opcionesFiltradas"
               [(ngModel)]="opcionSeleccionada"
               bindLabel="descripcion"
               [placeholder]="to.placeholder ? to.placeholder : ''"
               (change)="onSelectChange($event)">
    </ng-select>
  </div>
  <div *ngIf="isReadOnly()">
    <input [formControl]="formControl" [formlyAttributes]="field" class="form-control" [(ngModel)]="opcionSeleccionada" type="text"
           [readonly]="true" class="input-read-only">
  </div>
</div>

