<app-modal-tipo-campo-formulario>
  <div class="app-tipo-campo-formulario-header">
    <h3>{{titulo}}</h3>
  </div>

  <!-- Tab General -->
  <div class="app-tipo-campo-formulario-general">
    <form [formGroup]="formGeneral">

      <!-- Nombre Unico -->
      <div class="form-wrapper bg-light p-4">
        <div class="form-group" [ngClass]="getCssClases('nombre')">
          <label for="nombre">Nombre único *
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="El nombre debe ser único y será utilizado para identificar al campo en los buscadores"></i>
          </label>
          <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" maxlength="100"/>
        </div>
        <div class="invalid-msg" *ngIf="nombre.invalid && (nombre.touched || nombre.dirty )">
          <span class="danger" *ngIf="nombre.errors">*</span>
          Nombre es requerido
        </div>


        <!-- Etiqueda -->
        <div class="form-group" [ngClass]="getCssClases('etiqueta')">
          <label for="etiqueta">Etiqueta *
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="La etiqueta es el texto que identificará al campo en el formulario durante la creación del trámite"></i>
          </label>
          <input type="text" class="form-control" id="etiqueta" name="etiqueta" formControlName="etiqueta"
                 maxlength="200"/>
        </div>

        <div class="invalid-msg" *ngIf="etiqueta.invalid && (etiqueta.touched || etiqueta.dirty )">
          <span class="danger" *ngIf="etiqueta.errors">*</span>
          Etiqueta es requerido
        </div>

        <!-- Texto del contenedor -->
        <div class="form-group" [ngClass]="getCssClases('texto')">
          <label for="texto">Texto del contenedor
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="Texto de ayuda que se mostrará en el interior del contenedor y se ocultará cuando se ingrese el contenido"></i>
          </label>
          <input type="text" class="form-control" id="texto" name="texto" formControlName="texto" maxlength="200"/>
        </div>

        <!-- Descripcion -->
        <div class="form-group" [ngClass]="getCssClases('descripcion')">
          <label for="descripcion">Descripción
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="Texto de ayuda que se mostrará debajo de la etiqueta del campo"></i>
          </label>
          <textarea class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" rows="3"
                    maxlength="800"></textarea>
        </div>

        <!--Valor por Defecto-->
        <div class="form-group" [ngClass]="getCssClases('valorPorDefecto')">
          <label for="valorPorDefecto">Valor por defecto
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="Texto para precargar el campo y agilizar la carga del formulario cuando sea necesario"></i>
          </label>
          <input type="text" class="form-control" id="valorPorDefecto" name="valorPorDefecto"
                 formControlName="valorPorDefecto" maxlength="100"/>
        </div>

        <!-- Integracion con Miba -->
        <hr>
        <div class="form-wrapper bg-light p-4">
          <div class="form-group custom-control custom-switch" [ngClass]="getCssClases('integracionMiba')">
            <input type="checkbox" class="custom-control-input" id="integracionMiba" name="integracionMiba"
                   formControlName="integracionMiba" (change)="onIntegracionMibaChange()">
            <label class="custom-control-label" for="integracionMiba">Integración con miBA
              <i class='bx bxs-help-circle ml-2' aria-hidden="true"
                 title="Utilizar si el campo debe autocompletarse con algún dato del perfil de miBA del usuario. Tener en cuenta que se deshabilitarán las validaciones en el formulario del trámite."></i>
            </label>
          </div>
          <div class="form-group" [ngClass]="getCssClases('valorMiba')"
               *ngIf="this.formGeneral.get('integracionMiba').value">
            <label for="valorMiba">
              Valor de miBA *
            </label>
            <ng-select [items]="camposMiba" name="valorMiba" id="valorMiba" formControlName="valorMiba"
                       bindLabel="descripcion">
            </ng-select>
          </div>

          <!-- Subsanable -->
          <hr>
          <!--<div class="form-group custom-control custom-switch" [ngClass]="getCssClases('esSubsanable')">
            <input type="checkbox" class="custom-control-input" id="esSubsanable" name="esSubsanable"
                   formControlName="esSubsanable">
            <label class="custom-control-label" for="esSubsanable">Es subsanable
              <i class='bx bxs-help-circle ml-2' aria-hidden="true"
                 title="Indica que el campo podrá ser seleccionado para la solicitud de correcciones de un trámite creado con errores."></i>
            </label>
          </div>-->

          <!-- Editable por el Operador -->
          <hr>
          <div class="form-group custom-control custom-switch" [ngClass]="getCssClases('esEditableOperador')">
            <input type="checkbox" class="custom-control-input" id="esEditableOperador" name="esEditableOperador"
                   formControlName="esEditableOperador">
            <label class="custom-control-label" for="esEditableOperador">Es editable por el operador
            </label>
          </div>
        </div>

        <!-- Grupo iterativo -->
        <app-seccion-modal-campo-grupo-iterativo [modelo]="modelo" formControlName="seMuestraEnGrilla">
        </app-seccion-modal-campo-grupo-iterativo>
      </div>
    </form>
  </div>

  <!-- Tab Validaciones -->
  <div class="app-tipo-campo-formulario-validaciones">
    <form [formGroup]="formValidaciones">

      <!-- Campo Obligatorio -->
      <div class="form-wrapper bg-light p-4">
        <div class="form-group custom-control custom-switch" [ngClass]="getCssClases('campoObligatorio')">
          <input type="checkbox" class="custom-control-input" id="campoObligatorio" name="campoObligatorio"
                 formControlName="campoObligatorio">
          <label class="custom-control-label" for="campoObligatorio">Campo obligatorio
            <i class="fa fa-question-circle ml-2" aria-hidden="true"
               title="Los campos obligatorios se validarán automáticamente en el formulario o en el perfil de miBA en caso que corresponda."></i>
          </label>
        </div>

        <!-- Longitud Maxima -->
        <div class="form-group" [ngClass]="getCssClases('longitudMaxima')"
             *ngIf="!this.formGeneral.get('integracionMiba').value">
          <label for="longitudMaxima">Longitud máxima
            <span *ngIf="textoCorto">
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="Si el texto a ingresar es muy largo, considerar el uso del tipo de componente “Texto largo”"></i>
            </span>
            <span *ngIf="textoLargo">
              <i class='bx bxs-help-circle ml-2' aria-hidden="true"
                 title="Si el texto a ingresar es corto, considerar el uso del tipo de componente “Texto corto”"></i>
            </span>
          </label>
          <input type="text" class="form-control" id="longitudMaxima" name="longitudMaxima"
                 formControlName="longitudMaxima" maxlength="15"/>
        </div>
        <div class="invalid-msg" *ngIf="longitudMaxima.invalid && (longitudMaxima.touched || longitudMaxima.dirty )">
          <span class="danger" *ngIf="longitudMaxima.errors">*</span>
          Longitud maxima es requerido
        </div>


        <!-- Longitud Minima -->
        <div class="form-group" [ngClass]="getCssClases('longitudMinima')"
             *ngIf="!this.formGeneral.get('integracionMiba').value">
          <label for="longitudMinima">Longitud minima
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="Cantidad mínima de caracteres que serán solicitados en el campo"></i>
          </label>
          <input type="text" class="form-control" id="longitudMinima" name="longitudMinima"
                 formControlName="longitudMinima" maxlength="15"/>
        </div>
        <div class="invalid-msg" *ngIf="longitudMinima.invalid && (longitudMinima.touched || longitudMinima.dirty )">
          <span class="danger" *ngIf="longitudMinima.errors">*</span>
          Longitud minima es requerido
        </div>

        <!-- Expresion Regular -->
        <div class="form-group" [ngClass]="getCssClases('expresionRegular')"
             *ngIf="!this.formGeneral.get('integracionMiba').value">
          <label for="expresionRegular">Expresión regular
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="Son expresiones estándar que determinan la estructura y cuáles caracteres serán permitidos en el campo."></i>
          </label>
          <textarea class="form-control" id="expresionRegular" name="expresionRegular"
                    formControlName="expresionRegular" rows="3" maxlength="1000"></textarea>
        </div>


        <!-- Mensaje de Error Personalizado -->
        <div class="form-group" [ngClass]="getCssClases('mensajeError')"
             *ngIf="!this.formGeneral.get('integracionMiba').value">
          <label for="mensajeError">Mensaje de error personalizado
            <i class='bx bxs-help-circle ml-2' aria-hidden="true"
               title="Mensaje que se mostrará al usuario en caso de no cumplir con la expresión regular."></i>
          </label>
          <textarea class="form-control" id="mensajeError" name="mensajeError" formControlName="mensajeError" rows="3"
                    maxlength="1000"></textarea>
        </div>
        <div class="invalid-msg" *ngIf="mensajeError.invalid && (mensajeError.touched || mensajeError.dirty )">
          <span class="danger" *ngIf="mensajeError.errors">*</span>
          Mensaje de error es requerido
        </div>
      </div>
    </form>
  </div>

  <div class="app-tipo-campo-formulario-visibilidad">
    <app-tipo-campo-formulario-visibilidad [modoEdicion]="modoEdicion"></app-tipo-campo-formulario-visibilidad>
  </div>

  <div class="app-tipo-campo-formulario-footer">
    <button type="button" class="btn btn-secondary mr-2" (click)="cerrar()">
      Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="guardar()">
      Aceptar
    </button>
  </div>
</app-modal-tipo-campo-formulario>
