<ng-template #templateDesk>
  <div class="bg-light mt-5 ml-4">
    <app-search-bar
      [placeholder]="'Buscar cursos por nombre o categoría'"
      (searchEnter)="onSearchEnter($event)"
      (searchInput)="onSearchInput($event)"
    ></app-search-bar>
  </div>
  <div class="p-4">
    <div class="mt-4 px-3 py-3 bg-white rounded-1">
      <div
        class="d-flex align-items-center justify-content-between px-3 mt-4 mb-4"
      >
        <h4>Cursos</h4>
        <div
          class="d-flex align-items-center justify-content-between mr-2 mt-2"
        >
          <div class="dropdown">
            <button
              type="button"
              class="btn btn-dropdown border-0 btn-dropdown-border d-flex justify-content-between btn-dropdown-sm dropdown-toggle position-relative"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="./assets/icons/organizar.svg"
                class="mr-2"
                alt="organizar"
              />
              Organizar
            </button>
            <div class="dropdown-menu dropdown-menu-right w-auto">
              <button
                class="dropdown-item"
                type="button"
                (click)="sortByName()"
              >
                Por nombre
              </button>
              <button
                class="dropdown-item"
                type="button"
                (click)="sortByCategoria()"
              >
                Por categoría
              </button>
            </div>
          </div>
        </div>
      </div>
      <table
        class="table table-one pl-4 border-0"
        aria-label="tabla con cursos disponibles para el profesor"
      >
        <thead class="thead-one">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col" class="text-center">Acción</th>
          </tr>
        </thead>
        <tbody class="tbody-one">
          <ng-container *ngIf="listaVacia && !currentSearchTerm">
            <tr>
              <td colspan="6" class="mt-5 pt-4">No hay cursos asignados</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="sinResultados && currentSearchTerm">
            <tr>
              <td colspan="6" class="text-center mt-5 pt-5 font-weight-bold">
                Sin resultados. Realizá una nueva búsqueda.
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="!listaVacia && tableData.length > 0">
            <tr *ngFor="let item of tableData">
              <td>{{ item?.inscripcionId }}</td>
              <td>{{ item?.nombre }}</td>
              <td>{{ item?.categoria }}</td>
              <td>
                <div class="d-flex justify-content-center">
                  <img
                    src="./assets/icons/ver.svg"
                    alt="unlock_icon"
                    role="button"
                    (click)="openModal(item?.inscripcionId)"
                  />
                </div>
              </td>
            </tr>
          </ng-container>
          <div
            *ngIf="isModalOpen"
            class="modal d-block"
            tabindex="-1"
            role="dialog"
          >
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title">{{ cursoData?.nombre }}</h2>
                </div>
                <div class="table-container">
                  <table
                    class="table table-two table-bordered table-striped w-100 p-3 table-confirm"
                    aria-label="tabla con los detalles del curso"
                  >
                    <thead>
                      <tr>
                        <th class="d-none" scope="col"></th>
                        <th class="d-none" scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="font-weight-bold">Organismo</td>
                        <td>{{ cursoData?.organismo }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Categoría</td>
                        <td>{{ cursoData?.categoria }}</td>
                      </tr>
                      <ng-container *ngFor="let instancia of instanciaData">
                        <tr>
                          <td class="font-weight-bold">
                            {{ instancia.nombre }}
                            <img
                              src="./assets/icons/chevron-down.svg"
                              alt="flecha_abajo"
                              role="button"
                              class="ml-2"
                              (click)="expandRowContent(instancia.nombre)"
                            />
                          </td>
                          <td></td>
                        </tr>
                        <ng-container
                          *ngIf="
                            expandContent && selectedId === instancia.nombre
                          "
                        >
                          <ng-container
                            *ngFor="
                              let sede of instancia.instanciaSedeDataDTO;
                              let i = index
                            "
                          >
                            <tr>
                              <td colspan="2" class="font-weight-bold">
                                {{ sede.nombreSede }}
                                <img
                                  src="./assets/icons/chevron-down.svg"
                                  alt="flecha_abajo"
                                  role="button"
                                  class="ml-2"
                                  (click)="expandRowContentTwo(i)"
                                />
                              </td>
                            </tr>
                            <ng-container
                              *ngIf="expandSecondContent && selectedIdTwo === i"
                            >
                              <tr>
                                <td>Nombre de Sede</td>
                                <td>{{ sede.nombreSede }}</td>
                              </tr>
                              <tr>
                                <td>Estado</td>
                                <td>
                                  {{
                                    instancia.estado === 1
                                      ? "Activo"
                                      : "Inactivo"
                                  }}
                                </td>
                              </tr>
                              <tr>
                                <td>Cupo</td>
                                <td>{{ sede.cupos }}</td>
                              </tr>
                              <tr>
                                <td>Fechas</td>
                                <td>{{ instancia.periodo | formatDate }}</td>
                              </tr>
                              <tr>
                                <td>Inscriptos</td>
                                <td>000</td>
                              </tr>
                              <tr>
                                <td>Modalidad</td>
                                <td>{{ instancia.modalidad }}</td>
                              </tr>
                              <ng-container
                                *ngIf="sede.claseProfesors.length > 0"
                              >
                                <ng-container
                                  *ngFor="let it of sede.claseProfesors"
                                >
                                  <tr>
                                    <td>Profesor</td>
                                    <td>{{ it.nombre }} {{ it.apellido }}</td>
                                  </tr>
                                  <tr>
                                    <td>Email</td>
                                    <td>{{ it.email }}</td>
                                  </tr>
                                </ng-container>
                              </ng-container>
                              <ng-container
                                *ngIf="sede.claseProfesors.length === 0"
                              >
                                <tr>
                                  <td>Profesor</td>
                                  <td>Sin Profesor</td>
                                </tr>
                                <tr>
                                  <td>Email</td>
                                  <td>Sin Email</td>
                                </tr>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    data-dismiss="modal"
                    class="btn btn-secondary d-flex mr-auto"
                    (click)="closeModal()"
                  >
                    Cerrar
                  </button>
                </div>
              </div>
              <!-- <div data-dismiss="modal" class="modal-backdrop show"></div> -->
            </div>
          </div>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="tableData.length > 0">
      <app-pagination
        [allPagesNumber]="allPages"
        (changePage)="onPageChange($event)"
        [_currentPage]="currentPage"
      ></app-pagination>
    </ng-container>
  </div>
</ng-template>

<ng-template #templateMob>
  <div class="bg-light pt-5">
    <h4>Cursos</h4>
    <div class="d-flex align-items-center justify-content-start mt-3">
      <div class="dropdown mr-3">
        <button
          type="button"
          class="btn btn-dropdown border-0 btn-dropdown-border d-flex justify-content-between btn-dropdown-sm dropdown-toggle position-relative"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="./assets/icons/organizar.svg"
            class="mr-2"
            alt="organizar"
          />
        </button>
        <div class="dropdown-menu w-auto">
          <button class="dropdown-item" type="button" (click)="sortByName()">
            Por nombre
          </button>
          <button
            class="dropdown-item"
            type="button"
            (click)="sortByCategoria()"
          >
            Por categoría
          </button>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-4">
      <app-search-bar
        [placeholder]="'Buscar cursos por nombre o categoría'"
        (searchEnter)="onSearchEnter($event)"
        (searchInput)="onSearchInput($event)"
      ></app-search-bar>
    </div>
  </div>

  <card-inscripciones
    [data]="tableData"
    [listaVacia]="listaVacia"
    [sinResultados]="sinResultados"
    [currentSearchTerm]="currentSearchTerm"
    messageButton="Ver"
    (onClick)="$any(btnClickInscribite$.next($event))"
  ></card-inscripciones>

  <ng-container *ngIf="tableData.length > 0">
    <app-pagination
      [allPagesNumber]="allPages"
      (changePage)="onPageChange($event)"
      [_currentPage]="currentPage"
    ></app-pagination>
  </ng-container>
</ng-template>

<ng-container
  *ngTemplateOutlet="windowWidth <= maxWidthMobile ? templateMob : templateDesk"
></ng-container>
