<div class="from-wrapper">
  <div class="form-group">
    <label for="bsas">Provincia *</label>
    <input type="text" class="form-control" id="bsas" value="Ciudad de Buenos Aires" disabled readonly />
  </div>

  <div class="form-group">
    <label for="localidad">Localidad *</label>
    <select class="custom-select" id="localidad">
      <option value="0">Seleccioná una opción</option>
    </select>
  </div>

  <div class="form-group">
    <label for="calle-altura">Calle y altura *</label>
    <input class="form-control" type="text" id="calle-altura" readonly />
  </div>

  <div class="form-group">
    <label for="piso">Piso</label>
    <input class="form-control" type="text" id="piso" readonly />
  </div>


  <div class="form-group">
    <label for="departamento">Departamento</label>
    <input class="form-control" id="departamento" type="text" readonly />
  </div>

  <div class="form-group">
    <label for="codigo-postal">Código postal *</label>
    <input class="form-control" id="codigo-postal" type="text" readonly />
  </div>
</div>
