<IfModule mod_rewrite.c>
    RewriteEngine on
    # Don't rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    # Rewrite everything else to index.html
    # to allow html5 state links
    RewriteRule ^ index.html [L]
    Header set Cache-Control "no-cache,no-store,must-revalidate,private"
    Header set Pragma "no-cache"
    Header unset X-Powered-By
    ServerSignature Off
</IfModule>

<IfModule mod_mime.c>
    AddType text/javascript                             js mjs
</IfModule>