thead {
  background-color: #ffffff;
}
td {
  padding: 18px;
  color: #6a7685;
}

input {
  width: 90%;
  position: absolute;
  left: 0;
}

.modal-content {
  width: 420px;
}

.reset {
  visibility: hidden !important;
}

.modal-backdrop {
  opacity: 0.3 !important;
}
