table{
 width:100%;
 margin-top:45px;
}

thead {
 background-color: #ffffff;
 color: #141920;
 font-weight: 600;
 font-size: 15px;
 line-height: 22px;
}

tbody{
 color: #6A7685;
 line-height: 20px;
 letter-spacing: 0.2px;
}

td {
 padding: 18px;
 color: #6A7685;

}

.sin-cursos{
 color: #6A7685;
 margin-left:18px;
 margin-top:20px;
 margin-bottom:20px;
}

.roww{
 width: 75vw;
 margin-left: 80px;
}

.cuestionario-row{
 width: 75vw;
}


.nombre-evento{
 margin-right: 15%;
}

