#my-custom-nav {
  .brand-logo {
    height: 100%;
    width: 100%;
    cursor: default;
  }
  .sidebar {
    padding-left: 0px;
    padding-right: 0px;
    cursor: default;
  }
  .nav-item {
    &:hover {
      border-radius: 0px;
      cursor: default;
    }
  }
  .nav-link {
    color: #a4a6b3 !important;
    border-radius: 0px;
    width: 100% !important;
    margin: 0px !important;
    padding: 0.8rem !important;
    &:hover,
    &:focus,
    &:active {
      border: none !important;
      box-shadow: 0 0 0 0 !important;
      color: #4c5a6c !important;
      background-color: rgba(0, 0, 0, 0.1);
      cursor: default;
    }
  }

  .nav-sidebar .nav-link p {
    margin: 0px 10px !important;
    vertical-align: text-top;
    font-weight: 300 !important;
  }
  .brand-link {
    height: 80px;
    padding: 1.2rem !important;
  }
  .nav-link i {
    font-size: 24px;
    vertical-align: middle;
  }
  .nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .disabled-item {
    cursor: default;
  }
}

.name-user {
  color: #a4a6b3 !important;
  border-radius: 0px;
  width: 100% !important;
  margin: 0px !important;
  &:hover,
  &:focus,
  &:active {
    border: none !important;
    box-shadow: 0 0 0 0 !important;
    color: #4c5a6c !important;
    background-color: rgba(0, 0, 0, 0.1);
  }
}



@media screen and (max-width: 1024px) {
  .main-sidebar{
    position: absolute !important;
    top:64px !important;
    left:-5px !important;
  }
  .nav-cur{
    height: 530px;
  }
  .nav-event{
    height: 330px;
  }
  .nav-prof{
    height: 280px;
  } 
  .nav-adm{
    height: 710px;
  } 
}