<div class="bg-light p-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Roles</h1>
    <button class="btn btn-primary" routerLink="crear">Crear nuevo rol</button>
  </div>
  <div>
    <div class="mt-4">
      <div class="navbar-search d-responsive ml-auto">
        <form class="form-search form-search-sm">
          <div class="form-group col-5">
            <input
              type="search"
              class="form-control form-control-sm input-search"
              id="header-search-example-1"
              name="header-search"
              placeholder="Buscar roles"
              aria-label="Ingrese su búsqueda"
              (keyup)="searchTerm$.next($event.target.value)"
            />
            <button class="reset" type="reset"></button>
          </div>
        </form>
      </div>
    </div>

    <div class="table mt-4 px-5 py-3 bg-white">
      <div class="d-flex align-items-center justify-content-between mt-3 mb-4">
        <h4>Lista de roles</h4>
      </div>
      <table
        class="table border-0"
        aria-label="tabla con todos los roles disponibles"
      >
        <thead>
          <tr>
            <th scope="col">Nombre de rol</th>
            <th scope="col">Descripción</th>
            <th scope="col" class="float-right mr-3">Acciones</th>
          </tr>
        </thead>
        <span class="border-bottom"></span>
        <tbody>
          <ng-container *ngIf="filteredData.length > 0; else noResults">
            <tr *ngFor="let data of filteredData">
              <td>{{ data?.nombre }}</td>
              <td>{{ data?.descripcion }}</td>
              <td>
                <div class="float-right mr-3">
                  <img
                    src="./assets/icons/edit.svg"
                    alt="edit_icon"
                    class="mr-4"
                    (click)="goEdit(data.id)"
                    role="button"
                  />
                  <img
                    src="./assets/icons/delete.svg"
                    alt="delete_icon"
                    (click)="openModal(data.id)"
                    role="button"
                    class="img-disabled"
                  />
                  <app-modals
                    #modal
                    *ngIf="modalSwitch === true"
                    [title]="modalTitle"
                    [message]="modalMessage"
                    (triggerCancel)="closeModal()"
                    (triggerConfirm)="deleteRolesById(idNumber)"
                  ></app-modals>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <ng-template #noResults>
          <tr>
            <td colspan="6" class="text-center mt-5 pt-5 font-weight-bold">
              Sin resultados. Realizá una nueva búsqueda.
            </td>
          </tr>
        </ng-template>
      </table>
    </div>

    <ng-container *ngIf="filteredData.length > 0">
      <app-pagination
        [allPagesNumber]="allRolesPages"
        (changePage)="onRolesPageChange($event)"
        [_currentPage]="currentPage"
      ></app-pagination>
    </ng-container>
  </div>
</div>
