.custom-control-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.custom-control{
  display: flex;
  background-color: #f5f5f5;
  margin:10px;
  align-items: center;
  justify-content: center;  
}


.custom-control-label{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #424242;
}

.alert-message{
  color: black;
}

