.cart {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
  background: #f9f9f9;
  border: solid 4px #f9f9f9;
  border-radius: 8px;
  cursor: pointer;
  padding: 74px 24px;

  .first-content {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .second-content {
    p {
      color: #393739;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 137.5% */
    }
  }
  p {
    margin: 0;
    color: #54595e;
    font-size: 30px;
    font-style: normal;
    line-height: 28px; /* 93.333% */
    letter-spacing: -0.6px;
  }
  &.category {
    align-items: flex-start;
    padding: 30px 44px;
    p {
      font-size: 21px;
      font-weight: 700;
    }
  }
  &.colony {
    height: 360px;
    padding: 52px 24px;
    p.title-colony {
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.42px;
    }
    .first-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .second-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .third-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  &.active {
    border: solid 4px #007bff;
    p {
      color: #007bff;
    }
  }
}

@media (max-width: 768px) {
  .cart{
    min-width: 100%;
    padding: 54px 24px;

  }
}

.title {
  color: var(--Black-Base, #38485c);
  /* H2 */
  // font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.56px;
  margin-bottom: 24px;
}
