
button {
  border-radius: 6px;
  border: 1px solid var(--amarillo-obelisco, #ffdb2e);
  background: var(--amarillo-obelisco, #ffdb2e);
  display: flex;

  height: 40px;
  padding: 12px 27px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  margin: auto;
 
  &:hover {
    background: #f5cb00;
    border-color: #f5cb00;
  }
}
