.sede {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sede__direccion{
 margin-top:-5px;
}

.second-content{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .content-page{
    margin-top:120px;
  }
  
  .title{
    font-size: 20px;
    margin-top: 20px;  

  }
 }
  