<div class="grid-wraper">
  <p *ngIf="vista.descripcion"><small class="descripcion">{{vista.descripcion}}</small></p>
    <div class="row contenedor-telefono">
        <div class="col-2 form-group">
            <input type="text" class="form-control">
        </div>
        <div class="col-2 ml-lg-n3 form-group">
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" class="form-control">
        </div>
    </div>
</div>
