.label-radio {
  font-weight: 500 !important;
}

#form-sedes .modal-header {
  background: #ffdb2e;
  padding: 15px 0px;
}

#form-sedes .modal-header h3 {
  margin: auto;
}

.gap-1 {
  gap: 6px;
}
.gap-2 {
  gap: 12px;
}

#form-sedes .modal-footer {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}
