thead {
 background-color: #ffffff;
}

input {
 width: 90%;
 position: absolute;
 left: 0;
}

td {
 padding: 18px;
 color: #6A7685;
}

.modal-content{
 width: 420px;
}


.total_ciudadanos{
 color: #6A7685;
 font-weight: 700;
 font-size: 16px;
 line-height: 20px;
 margin-right: 70px;
 margin-top:20px;
 margin-bottom:20px;
}