@media screen and (max-width: 767px) {
 .container{
   padding: 30px;
 }
 .row-alertas{
  padding:10px;
 }
 .row-cancelar{
  margin-left:1px;
 }

 .row-cancelar h2{
  font-size: 24px;
 }
 
 .breadcrumb{
  margin-left:15px;
 }
}