thead {
  background-color: #ffffff;
}

td {
  padding: 18px;
  color: #6a7685;
}

.modal-dialog {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.modal-content {
  margin-top: 100px;
  min-width: 564px;
}

.td-horario {
  padding: 0;
  height: 14px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 50px !important;
  background-color: #fdd306;
}

.modal-title {
  font-size: 38px;
  color: #212529;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.03em;
}

.modal-prof-container {
  padding-left: 50px;
  padding-right: 50px;
}

.modal-prof-title {
  margin-top: 29px;
  font-weight: 600;
  color: #000000;
  font-size: 15px;
  line-height: 22px;
  margin-left: 10px;
}

.slc-option {
  color: #424242;
}
.slc {
  background: #f5f3f3;
  color: #424242;
}

.list-categories {
  list-style: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  margin-top: -40px;
  width: 100%;
  li {
    padding: 5px 10px;
    background: #fdd306 !important;
    margin: 10px 5px;
    font-size: 12px;
    border-radius: 15px;
    color: #4c5a6c;
    cursor: pointer;
    .bx {
      position: relative;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}
