<div class="bg-light p-4">
  <div class="flex-column">
    <h1 class="-mb-3">{{nombreCurso}}</h1>
  </div>
  <form class="mt-8 p-5 bg-white rounded" #formUser="ngForm">
    <div class="row flex-column">
      <app-previsualizando-formulario
        *ngIf="showForm"
        [formId]="formId"
        [activeStep]="activeStep"
        [gestionInscripto]="true"
        (saveFormResult)="getFormResult($event)"
      ></app-previsualizando-formulario>
    </div>
    <div class="d-flex">
      <div class="form-group col-12">
        <div class="btn-wrapper d-flex justify-content-start mt-5">
          <button
            type="button"
            class="btn btn-secondary mr-4"
            (click)="goBack()"

          >
            Volver
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="nextStep()"
          >
            Continuar
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="m-auto col-6">
    <div *ngIf="correct" class="form-group mt-5 col-12">
      <app-alertas
        [message]="'Inscripción exitosa'"
        [type]="'alert alert-success'"
        (onClose)="closeAlert()"
      ></app-alertas>
    </div>

    <div class="form-group mt-5 col-12">
      <app-alertas
        *ngIf="errorMessage"
        [message]="'Error al crear la inscripción'"
        [type]="'alert alert-danger'"
        (onClose)="closeAlert()"
      ></app-alertas>
    </div>
  </div>
</div>
